<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce</title>
    <link rel="stylesheet" href="~/font-awesome-pro-5/css/all.css" />
    <link rel="stylesheet" href="~/bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommerce.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-green border-bottom box-shadow mb-3 p-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">ECommerce</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Business Owner"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Businesses" asp-action="Index">All Businesses</a>
                            </li>
                        }
                        @if (User.IsInRole("Customer") || !(User.Identity?.IsAuthenticated ?? false
                        ))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="ProductsOnSale">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">Your Cart</a>
                            </li>
                        }

                        @if (User.IsInRole("SuperAdmin") && (User.Identity?.IsAuthenticated ?? false))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="AllProducts">All Products</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white" asp-controller="Employees" asp-action="AllEmployees">All Employees</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">All Orders</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Orders" asp-action="AllPaidOrders">All Full Paid</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Orders" asp-action="AllUnpaidOrders">All Pending Payment</a>

                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-white" asp-controller="BusinessCategories" asp-action="Index">Business Categories</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ECommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    @* <script src="~/bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/js/bootstrap.js" asp-append-version="true"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
