.bg-green {
    background-color: var(--p-color);
}

.text-white {
    color: white !important;
}

.text-primary {
    color: var(--p-color) !important;
}

.text-secondary {
    color: var(--s-color) !important;
}

.text-red {
    color: var(--b-color) !important;
}

.img-full {
    width: 100%;
    height: 100%;
}
p {
    margin: 0;
    padding: 0;
}

.primary-btn {
    background-color: var(--p-color);
    font-weight: 500;
    color: white;
}

.secondary-btn {
    background-color: white;
    font-weight: 500;
    color: #104210;
    border: 2px solid #104210;
}

.red-btn {
    background-color: var(--b-color);
    font-weight: 500;
    color: white;
}
