

.table-border {
    border: 2px solid #f2f2f2;
}


/*#Start*/
/*select2 custom styling*/
.select2-selection, .select2-selection__rendered {
    height:100% !important; 
}

.select2-selection__rendered {
    padding:1% !important;
}
.select2-selection__arrow {
    height:95% !important;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #79bf9f !important;
}
/*#End*/

.c-pointer {
    cursor:pointer;
}