:root {
    --p-color: #0d200a;
    --s-color: #ddd0c4;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--s-color);
}

p {
    margin:0;
    padding:0;
}

.bg-green {
    background-color: var(--p-color);
}

.text-white {
    color:white !important;
}