:root {
    --p-color: #104210;
    --s-color: #e3c595;
    --b-color: #970808;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--s-color);
}

header {
    height:10vh;
}

main {
    height: 82vh;
}

footer {
    height: 8vh;
}


