@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-75 d-flex flex-column align-items-center justify-content-evenly">
    <h1 class="text-primary text-center fs-1">Welcome</h1>
    <div class="row g-5">
        <div class="col-md-6 col-sm-12">
            <img class="img-full" src="~/images/website/mainPhoto1.jpg" />
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="d-flex flex-column justify-content-evenly h-100">
                <h3 class="text-primary">Product-Mart</h3>
                <p class="lead">
                    Welcome to our online marketplace, where convenience meets variety in an unparalleled shopping experience. Explore a world of endless possibilities as you browse through our extensive collection of products spanning every category imaginable. 
                </p>
                <p class="lead">
                    Our commitment to quality and customer satisfaction is reflected in every product we offer. Embrace the ease of online shopping with our user-friendly platform, and let us be your one-stop destination for all your shopping desires.
                </p>
            </div>
        </div>
    </div>
</div>
