@model ECommerce.ViewModels.ResetPasswordViewModel;

@{
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="container">
    <form asp-action="ResetPassword">
        <input asp-for="UserId" type="hidden"/>
        <span class="text-danger">@Html.ValidationMessage("ErrorMessage")</span>
        <div class="row m-auto gap-4" style="max-width:500px;">
        <h2>Create a new password</h2>
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label">New Password</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Reset Password" class="btn btn-danger w-100" />
            </div>
        </div>
    </form>
</div>
