@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/login-register-form.css" asp-append-version="true" />
}

<div class="container mt-4">
    <div class="w-50 m-auto login-card">
        <section>
            <form id="registerForm" class="m-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Register</h2>
                <div class="row">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div>
                            <label asp-for="Input.Role"></label>
                            <select asp-items="Model.SelectRoles" asp-for="Input.Role" class="form-select text-black"></select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Input.Name">Full Name</label>
                            <input asp-for="Input.Name" class="input"  placeholder="Full Name" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="mt-2">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" placeholder="Email" class="input" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mt-2">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" placeholder="Password" class="input" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mt-2">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="input" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mt-5 d-flex flex-column gap-3">
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg login-btn">Register</button>
                            <a class="w-100 btn red-btn" asp-page="Login">Login instead?</a>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
