@model ECommerce.Models.Product

@{
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
    ViewData["Title"] = "Edit";
}

@section Styles
    {
    <link href="~/css/products.css" rel="stylesheet" asp-append-version="true" />
}
<div class="container-fluid add-product-container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 left-container">
            <div class="row d-flex h-100 flex-column justify-content-between">
                <div class="col-12 p-5">
                <h2 class="text-center text-primary">Edit Product</h2>
                </div>
                <div class="col-12 p-0">
                    <img class="img-full" src="~/images/website/product-create.jpg"/>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 right-container p-5">
                 <form asp-action="Edit" class="create-form" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ImageUrl" />
            <div class="row g-4">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="Image" class="control-label">Image</label>
                        <input name="Image" class="form-control input-file" type="file" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                 
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="UnitPrice" class="control-label"></label>
                        <input asp-for="UnitPrice" class="form-control" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="SellingPrice" class="control-label"></label>
                        <input asp-for="SellingPrice" class="form-control" />
                        <span asp-validation-for="SellingPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="SKU" class="control-label"></label>
                        <input asp-for="SKU" class="form-control" />
                        <span asp-validation-for="SKU" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
                <div class="row mt-4 btn-row pt-3">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn back-btn">Back to List</a>
                        <input type="submit" value="Update" class="btn create-btn" />
                    </div>
                </div>
                </div>
                </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
