@model IEnumerable<ECommerce.ViewModels.ProductOnSaleViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <inp
                    ut />
            </div>
            <div class="col-sm-12 col-md-4"></div>
        </div>
    </div>

    <div class="col-12 mt-4">
        <div id="home-cards" class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-3 p-2">
                    <div class="home">
                        <div class="div-img">
                            <img src="~/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Product Image">
                        </div>
                        <div class="home-content">
                            <p class="home-title">@Html.DisplayFor(modelItem => item.Name)</p>
                            <ul class="home-list">
                                <li class="home-attri">
                                    <i class="fa fa-comment"></i>
                                    <span>@Html.DisplayFor(modelItem => item.Description)</span>
                                </li>
                                <li class="home-attri">
                                    <i class="fa fa-bars"></i>
                                    <span>@Html.DisplayFor(modelItem => item.CategoryName)</span>
                                </li>
                                <li class="home-attri">
                                    <i class="fa fa-bars"></i>
                                    <span>@Html.DisplayFor(modelItem => item.BusinessName)</span>
                                </li>
                            </ul>
                            <div class="row justify-content-around mt-3">

                               <a class="btn btn-success">Add to Cart</a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

