
<table id="table"
       data-toggle="table"
       data-ajax="ajaxRequest"
       data-search="true"
data-side-pagination="server"
data-pagination="true"
data-sort="true">
<thead>
    <tr>
        <th data-field="orderDate">Date</th>
        <th data-field="employee">Employee</th>
        <th data-field="price">Price</th>
        <th data-field="discount">Discount</th>
        <th data-field="billPrice">Bill Price</th>
    </tr>
</thead>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            
        });
        function ajaxRequest(params) 
        {
            var url = 'Orders/GetOrders'
            $.get(url).then(function (res) {
                params.success(res);
            });
        }
    </script>

}