@model JattanaNursury.ViewModels.OrderViewModel;

<div class="row" style="border:2px solid green;">
    <h2 class="text-center">Sale</h2>

    <div class="col-8" style="border:2px solid blue;">
        <div class="row">
            <div class="col-12">
                <div class="row form-group ">
                    <div class="col-6">
                        <select class="form-control" id="productSearch">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input placeholder="Quantity" class="w-100" id="quantityInput" type="number" />
                    </div>
                    <div class="col-4">
                        <button id="addBtn" class="w-100">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>TotalPrice</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="row" style="border:2px solid red;">
            <h2> Customer Information</h2>
            <div class="col-12">

                <div class="d-flex flex-column">

                    <input placeholder="Name" required id="nameInput" />

                    <input placeholder="Phone Number" id="phoneInput" required />

                    <input placeholder="Email" id="emailInput" required />

                    <input placeholder="Address" required id="addInput" />

                </div>
            </div>
            <div class="col-12 mt-2 d-flex flex-column">
                <input placeholder="Employee" id="empInput" />
                <div>
                    <label>Price: </label>
                    <input disabled type="number" value="0.00" id="totalPrice" />
                </div>
                <input placeholder="Discount" type="number" value="0" id="discountInput" />
                <div>
                    <label>Bill Price: </label>
                    <input disabled id="billPrice" value="0.00" type="number" />
                </div>
                <button type="submit" id="saleBtn">Sale</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        let productsInList = [];
        $(document).ready(function () {
            $('#productSearch').select2({
                ajax:
                {
                    url: '/Orders/GetProductsByName',
                    dataType: 'json',
                    type:'get',
                    contentType: "application/json; charset=utf-8",
                    delay: 250,
                    data: function (params) {
                        return {
                            search: params.term
                        };
                    },
                    processResults: function (data) {
                        return{
                            results: data.map((item) => ({
                                id: item.id,
                                text: item.name,
                                price: item.unitPrice,
                                quantity: item.quantity,
                                totalPrice: item.totalPrice
                            }))
                        };
                    },
                },
                placeholder: 'Search Product...',
                minimumInputLength: 1,
                templateResult: formatResults
            });
        });

        function formatResults(data) {

            if (data.loading)
                return data.text;

            var container = $(
                `<table width="100%">
                                                           <tr>
                                                                <td>
                                                                    <p>${data.text}</p>
                                                                </td>
                                                                              <td>
                                                                                    <p>${data.price}</p>
                                                                        </td>
                                                                                     <td>
                                                                            <p>${data.quantity}</p>
                                                                        </td>
                                                            </tr>
                                                         </table>`
            );

            return container;
        }

        $('#addBtn').on('click', function () {

            const product = $('#productSearch').select2('data')[0];

            const quantity = parseFloat($('#quantityInput').val());

            const price = parseFloat(product.price);

            productsInList.push({ id: product.id, name: product.text, quantity: quantity, price: price, totalPrice: price * quantity });

            console.log(productsInList);
            showProductsInList();
            updatePrice();
        });

        function showProductsInList() {

            let no = 0;
            let tbody = $('.table tbody');
            tbody.html("");
            productsInList.forEach((item) => {
                no = no + 1;
                tbody.append(
                    $('<tr>').append(
                        $('<td>').text(no),
                        $('<td>').text(item.name),
                        $('<td>').text(item.quantity),
                        $('<td>').text(item.price),
                        $('<td>').text(item.totalPrice)
                    )
                );
            });
        }

        function updatePrice() {
            const price = productsInList.reduce((acc, item) => { return acc + item.totalPrice }, 0);
            $('#totalPrice').val(price);
            calculateBillPrice();
        }

        $('#discountInput').on('change', function () {
            calculateBillPrice();
        });

        function calculateBillPrice() {
            const billPrice = parseFloat($('#totalPrice').val()) * ((100 - parseFloat($('#discountInput').val())) / 100);
            $('#billPrice').val(billPrice);
        }

        $('#saleBtn').on('click', function () {
            let products = [];

            productsInList.forEach((item) => {
                products.push({ productId: item.id, quantity: item.quantity });
            });

            const orderModel = { customerName: $("#nameInput").val(), phoneNumber: $("#phoneInput").val(), fullAddress: $("#addInput").val(), emailAddress: $("#emailInput").val(), discount: parseFloat($("#discountInput").val()), employee: $("#empInput").val(), products: products }

            $.ajax({
                url: '/Orders/SaveSaleOrder',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(orderModel),
                contentType: 'application/json; charset=utf-8',
                success: function (message) {
                    console.log(message);
                }

            });

        });

    </script>
    }
