@model IEnumerable<JattanaNursury.ViewModels.OrderPaidModel>

<table id="ordersTable" class="table table-striped" data-detail-view="true"></table>

@section Scripts{
    <script src="~/js/paidOrder.js" asp-append-version="true"></script>
}