@model IEnumerable<JattanaNursury.ViewModels.OrderUnpaidModel>

<table id="ordersTable" class="table" data-detail-view="true"></table>

@section Scripts{
    <script src="~/js/unpaidOrder.js" asp-append-version="true"></script>
}