@model IEnumerable<JattanaNursury.ViewModels.OrderUnpaidModel>
@section Styles
    {
    <link href="~/css/order.css" rel="stylesheet" asp-append-version="true" />
}
<table id="ordersTable" class="table" data-detail-view="true"></table>

@section Scripts{
    <script src="~/js/unpaidOrder.js" asp-append-version="true"></script>
}